.page[b-2szbgctje9] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-2szbgctje9] {
    flex: 1;
}

.sidebar[b-2szbgctje9] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-2szbgctje9] {
    opacity: 0.6;
    background-color: #8fd3f1;
    border-bottom: 2px solid #296f8a;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: 'Adamina', serif;
}

    .top-row[b-2szbgctje9]  a, .top-row .btn-link[b-2szbgctje9] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-2szbgctje9] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-2szbgctje9] {
        display: none;
    }

    .top-row.auth[b-2szbgctje9] {
        justify-content: space-between;
    }

    .top-row a[b-2szbgctje9], .top-row .btn-link[b-2szbgctje9] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-2szbgctje9] {
        flex-direction: row;
    }

    .sidebar[b-2szbgctje9] {
        width: 250px;
        height: 100vh;
        top: 0;
    }

    .top-row[b-2szbgctje9] {
        top: 0;
        z-index: 1;
    }

    .main > div[b-2szbgctje9] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.footer-main[b-2szbgctje9]{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    opacity: 0.0;
    background-color: #8fd3f1;
    border-bottom: 2px solid #296f8a;
    height: 3.5rem;
}