.adultspage[b-0g5o9kjpes]{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    font-family: 'Adamina', serif;
    font-weight: 1;
}

.svgimg[b-0g5o9kjpes]{
    position: fixed;
    right:0;
    bottom:0;
}


table[b-0g5o9kjpes] {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th[b-0g5o9kjpes],
td[b-0g5o9kjpes] {
    padding: 15px;
    background-color: rgba(193, 223, 241, 0.5);
    color: #000000;
}

th[b-0g5o9kjpes] {
    text-align: left;
    color: #ffffff;
    font-weight: lighter;
}


th[b-0g5o9kjpes] {
    background-color: #8fd3f1;
}



tr:hover[b-0g5o9kjpes] {
     background-color: rgba(255, 255, 255, 0.3);
 }

.adult-table[b-0g5o9kjpes]{
    border: 1px solid #9bdcf1;

}

.popup-box[b-0g5o9kjpes]{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 200px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%)
}

.button-adult[b-0g5o9kjpes]{
    background-color: white;
    color: black;
    border: 1px solid #8fd3f1;
    border-radius: 10px;
}

.button-adult:focus[b-0g5o9kjpes], textarea:focus[b-0g5o9kjpes], select:focus[b-0g5o9kjpes]{
    outline: none;
}

.btn-x[b-0g5o9kjpes]{
    position: absolute;
    margin-top: 35px;
    top: 4px;
    left: 43%;
}
.button-x[b-0g5o9kjpes]{
    background-color: white;
    color: #8fd3f1;
    border: 0 ;
    border-radius: 10px;
    font-size: 25px;
}

.addadult-link[b-0g5o9kjpes]{
    margin-left: 20px;
    background-color: #ffffff;
    color: #8FD3F1;
    border: 1px solid #8fd3f1;
    font-size: 18px;
    padding: 12px;
}
.addadult-link:hover[b-0g5o9kjpes]{
    color: black;
}

.searchbar[b-0g5o9kjpes]{
    width: 843px;
    border: 2px solid #8fd3f1;
    box-sizing: border-box;
    font-family: 'Adamina', serif;
    font-size: 15px;
    color: black;
    padding: 5px;
}
input:focus[b-0g5o9kjpes], textarea:focus[b-0g5o9kjpes], select:focus[b-0g5o9kjpes]{
    outline: none;
}
input:focus[b-0g5o9kjpes]::placeholder {
    color: transparent;
}
input[b-0g5o9kjpes]::placeholder {
    color: black;
}