/* _content/Families/Pages/Adults.razor.rz.scp.css */
.adultspage[b-0g5o9kjpes]{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    font-family: 'Adamina', serif;
    font-weight: 1;
}

.svgimg[b-0g5o9kjpes]{
    position: fixed;
    right:0;
    bottom:0;
}


table[b-0g5o9kjpes] {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th[b-0g5o9kjpes],
td[b-0g5o9kjpes] {
    padding: 15px;
    background-color: rgba(193, 223, 241, 0.5);
    color: #000000;
}

th[b-0g5o9kjpes] {
    text-align: left;
}


th[b-0g5o9kjpes] {
    background-color: #8fd3f1;
}



tr:hover[b-0g5o9kjpes] {
     background-color: rgba(255, 255, 255, 0.3);
 }

.adult-table[b-0g5o9kjpes]{
    border: 1px solid #9bdcf1;

}

.popup-box[b-0g5o9kjpes]{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 200px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%)
}

.button-adult[b-0g5o9kjpes]{
    background-color: white;
    color: black;
    border: 1px solid #8fd3f1;
    border-radius: 10px;
}

.button-adult:focus[b-0g5o9kjpes], textarea:focus[b-0g5o9kjpes], select:focus[b-0g5o9kjpes]{
    outline: none;
}

.btn-x[b-0g5o9kjpes]{
    position: absolute;
    margin-top: 35px;
    top: 4px;
    left: 43%;
}
.button-x[b-0g5o9kjpes]{
    background-color: white;
    color: #8fd3f1;
    border: 0 ;
    border-radius: 10px;
    font-size: 30px;
}
/* _content/Families/Pages/Index.razor.rz.scp.css */
.mainpage-container[b-aw70pjzgr6]{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-family: 'Noto Serif JP', serif;
}
/* _content/Families/Pages/Login.razor.rz.scp.css */
.maincontainer[b-jvg13b0ihw]{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    background-image: url("../../Images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.container-leftside[b-jvg13b0ihw]{
    font-family: 'Adamina', serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}
.container-login[b-jvg13b0ihw]{
    width: 75vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border: 1px solid #8fd3f1;
    border-radius: 15px;
    background: rgb(143, 211, 241, 0.2);
    padding-bottom: 20px;
}

input[b-jvg13b0ihw]{
    text-align: center;
    border: 1px solid #8fd3f1;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;

}

.loginlabel[b-jvg13b0ihw]{
    text-align: center;
    font-size: 20px;
}

.button1[b-jvg13b0ihw]{
    font-size: 20px;
}

.button1[b-jvg13b0ihw] {
    background-color: white;
    color: black;
    border: 1px solid #8fd3f1;
    border-radius: 10px;
    padding: 5px 30px;
    margin-top: 20px;

}

.button1:hover[b-jvg13b0ihw] {
    background-color: #008CBA;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px 30px;
}


input:focus[b-jvg13b0ihw] {
    border: 1px solid #8fd3f1;
}

.errorLabel[b-jvg13b0ihw]{
    padding-top: 30px;
    color: darkred;

}
input:focus[b-jvg13b0ihw], textarea:focus[b-jvg13b0ihw], select:focus[b-jvg13b0ihw]{
    outline: none;
}
input:focus[b-jvg13b0ihw]::placeholder {
    color: transparent;
}
/* _content/Families/Shared/MainLayout.razor.rz.scp.css */
.page[b-2szbgctje9] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-2szbgctje9] {
    flex: 1;
}

.sidebar[b-2szbgctje9] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-2szbgctje9] {
    opacity: 0.6;
    background-color: #8fd3f1;
    border-bottom: 2px solid #296f8a;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: 'Adamina', serif;
}

    .top-row[b-2szbgctje9]  a, .top-row .btn-link[b-2szbgctje9] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-2szbgctje9] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-2szbgctje9] {
        display: none;
    }

    .top-row.auth[b-2szbgctje9] {
        justify-content: space-between;
    }

    .top-row a[b-2szbgctje9], .top-row .btn-link[b-2szbgctje9] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-2szbgctje9] {
        flex-direction: row;
    }

    .sidebar[b-2szbgctje9] {
        width: 250px;
        height: 100vh;
        top: 0;
    }

    .top-row[b-2szbgctje9] {
        top: 0;
        z-index: 1;
    }

    .main > div[b-2szbgctje9] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.footer-main[b-2szbgctje9]{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    opacity: 0.0;
    background-color: #8fd3f1;
    border-bottom: 2px solid #296f8a;
    height: 3.5rem;
}
/* _content/Families/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-ul3gl82vcv] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-ul3gl82vcv] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-ul3gl82vcv] {
    font-size: 1.1rem;
}

.oi[b-ul3gl82vcv] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-ul3gl82vcv] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-ul3gl82vcv] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-ul3gl82vcv] {
        padding-bottom: 1rem;
    }

    .nav-item[b-ul3gl82vcv]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-ul3gl82vcv]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-ul3gl82vcv]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ul3gl82vcv] {
        display: none;
    }

    .collapse[b-ul3gl82vcv] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
