@using LoginComponent
@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <NotAuthorized>
            <Login/>
        </NotAuthorized>
        <Authorized>
            <div class="main">
                <div class="top-row px-4">
                    <a href=""> Home page </a>
                    <a href="/adults"> Adults </a>
                    <Logout/>
                </div>
                <div class="content px-4">
                    @Body
                </div>
                <div class="footer-main">
                </div>
            </div>
        </Authorized>
    </AuthorizeView>
</div>