.adultspage{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    font-family: 'Adamina', serif;
    font-weight: 1;
}

.svgimg{
    position: fixed;
    right:0;
    bottom:0;
}


table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(193, 223, 241, 0.5);
    color: #000000;
}

th {
    text-align: left;
    color: #ffffff;
    font-weight: lighter;
}


th {
    background-color: #8fd3f1;
}



tr:hover {
     background-color: rgba(255, 255, 255, 0.3);
 }

.adult-table{
    border: 1px solid #9bdcf1;

}

.popup-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 200px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%)
}

.button-adult{
    background-color: white;
    color: black;
    border: 1px solid #8fd3f1;
    border-radius: 10px;
}

.button-adult:focus, textarea:focus, select:focus{
    outline: none;
}

.btn-x{
    position: absolute;
    margin-top: 35px;
    top: 4px;
    left: 43%;
}
.button-x{
    background-color: white;
    color: #8fd3f1;
    border: 0 ;
    border-radius: 10px;
    font-size: 25px;
}

.addadult-link{
    margin-left: 20px;
    background-color: #ffffff;
    color: #8FD3F1;
    border: 1px solid #8fd3f1;
    font-size: 18px;
    padding: 12px;
}
.addadult-link:hover{
    color: black;
}

.searchbar{
    width: 843px;
    border: 2px solid #8fd3f1;
    box-sizing: border-box;
    font-family: 'Adamina', serif;
    font-size: 15px;
    color: black;
    padding: 5px;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
input:focus::placeholder {
    color: transparent;
}
input::placeholder {
    color: black;
}