.children-page{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    font-family: 'Adamina', serif;
    font-weight: 1;
}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(193, 223, 241, 0.5);
    color: #000000;
    border-bottom: 0px solid #ddd;

}

th {
    text-align: left;
    color: #ffffff;
    background-color: #67B7DC;
    font-weight: lighter;
}


th {
    background-color: #67B7DC;
}



tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.children-pic{
    position: fixed;
    right:0;
    bottom:0;
}

.searchbar{
    width: 800px;
    border: 2px solid #8fd3f1;
    box-sizing: border-box;
    font-family: 'Adamina', serif;
    font-size: 15px;
    color: black;
    padding: 5px;
}

button:focus, textarea:focus, select:focus{
    outline: none;
}
input:focus::placeholder {
    color: transparent;
}
input::placeholder {
    color: black;
}
.children-table{
    border: 1px solid #ffffff;
}