.maincontainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    background-image: url("../../Images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.container-leftside{
    font-family: 'Adamina', serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}
.container-login{
    width: 75vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border: 1px solid #8fd3f1;
    border-radius: 15px;
    background: rgb(143, 211, 241, 0.2);
    padding-bottom: 20px;
}

input{
    text-align: center;
    border: 1px solid #8fd3f1;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;

}

.loginlabel{
    text-align: center;
    font-size: 20px;
}

.button1{
    font-size: 20px;
}

.button1 {
    background-color: white;
    color: black;
    border: 1px solid #8fd3f1;
    border-radius: 10px;
    padding: 5px 30px;
    margin-top: 20px;

}

.button1:hover {
    background-color: #008CBA;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px 30px;
}


input:focus {
    border: 1px solid #8fd3f1;
}

.errorLabel{
    padding-top: 30px;
    color: darkred;

}
input:focus, textarea:focus, select:focus{
    outline: none;
}
input:focus::placeholder {
    color: transparent;
}