@page "/login"
@namespace LoginComponent
@using Microsoft.AspNetCore.Components.Authorization
@using WebFamilies_Assignment.Authentication


@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject NavigationManager NavigationManager;

<div class="maincontainer">
    <div class="container-login">
        <div class="container-leftside">
            <label class="loginlabel">Username</label>
            <div class="form-group">
                <input type="text" placeholder="user name" @bind-value="username"/>
            </div>
            <label class="loginlabel">Password</label>
            <div class="form-group">
                <input type="password" placeholder="password" @bind-value="password"/>
            </div>


            <a class="button1" href="" @onclick="PerformLogin">
                Login
            </a>
            <div class="errorLabel">@errorMessage</div>

        </div>
        <div class="svgimg">
            <img src="Images/login.svg" alt="Women on the laptop">
        </div>
    </div>
</div>

@code {

    private string username;
    private string password;
    private string errorMessage;

    public async Task PerformLogin()
    {
        errorMessage = "";
        try
        {
            ((CustomAuthenticationStateProvider) AuthenticationStateProvider).ValidateLogin(username, password);
            username = "";
            password = "";
            NavigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }
    }


    public void OnLogout()
    {
        username = "";
        password = "";
    }

}