h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-generate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-generate:focus {
    background-color: white;
    color: black;
    border: 1px solid #8fd3f1;
    border-radius: 10px;
}

.btn-generate:active{
    outline: none;
    border: 1px solid #8fd3f1;
    border-radius: 10px;
}

.btn-generate {
    background-color: white;
    color: black;
    border: 1px solid #8fd3f1;
    border-radius: 10px;
    padding: 5px 30px;
    margin-top: 20px;

}

.button1:hover {
    background-color: #008CBA;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px 30px;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
input:focus::placeholder {
    color: transparent;
}

.btn-generate:focus, textarea:focus, select:focus{
    outline: none;
}